[Desktop Entry]
Name=LinuxToys 
Type=Application
Exec=/usr/bin/linuxtoys
Terminal=false
Icon=linuxtoys
Comment=A set of tools for Linux presented in a user-friendly way
NoDisplay=false
Categories=Development
StartupNotify=true
StartupWMClass=run.py